{
  "CONFIG_NAME": "{{ pwa_demo_upward_config_name }}",
  "SITE_HOSTNAME": "{{ app_domain }}",
  "MAGENTO_ROOT_DIR": "{{ pwa_demo_upward_magento_root_dir }}",
  "ENV_ROOT_DIR": "{{ pwa_demo_upward_env_root_dir }}",
  "PWA_STUDIO_VERSION": "{{ pwa_demo_upward_studio_version }}",
  "PWA_STUDIO_COMPAT_MATRIX_URL": "{{ pwa_demo_pwa_studio_compat_matrix_url }}",
  "PWA_STUDIO_DOWNLOAD_URL": "{{ pwa_demo_pwa_studio_download_url }}"
}
